.Loginform
{
    display: flex;
    justify-content: center;
}
input
{
    border-radius: 10px;
}
button
{
    border-radius: 10px;
    background-color: blue;
    color: white;
    border-color: blue;
}
.logindata
{
    border: 1px solid grey;
}
.signin
{
    background-color: blue;
    color: white;
}