.Registerform
{
    display: flex;
    justify-content: start;
    align-items: start;
}
.Registerdata
{
    border: 1px solid grey;
    border-radius: 15px;

}
input
{
    border-radius: 10px;
}
button
{
    border-radius: 10px;
}