body
{
    font-family: 'Inter', sans-serif;
}
.signup
{
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
}
button
{
    color: white;
}
/* Link
{
    text-decoration: none;
    list-style-type: none;
} */