ul
{
    list-style-type: none;
    text-decoration: none;
}
.sidebar
{
    width: 200px;
   display: none;
   background-color: blue;
   color: white;
   height: 100%;
}
.Bar:hover ~.sidebar
{
    cursor: pointer;
    display: block;
}
