body
{
    font-family: 'Inter', sans-serif;
}
.signup
{
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
}
Link
{
    text-decoration: none;
    list-style-type: none;
}