.foot
{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgb(238, 221, 221);
}
.footdown
{
    color: white;
    text-align: center;
}