.landing
{
    background-color: gold;
    height: 100%;
}
.start
{
    display: flex;
    text-align: center;
    justify-content: center;
   
}
.butt
{
    background-color: black;
    color: white;
    border-radius: 10px;
}
.landing img
{
    max-width: 100%;
}
@media(max-width:600px)
{
    .landing img
    {
        max-width: 80%;
        
    }
}
@media(min-width:300px)
{
    .landing img
    {
        max-width: 80%;
       
    }
}